appdirs
argcomplete
blinker
certifi
charset-normalizer
click
Flask
future
idna
importlib-resources
itsdangerous
Jinja2
MarkupSafe
Pillow
pycups
pypng
pyserial
python-barcode
python-escpos
pyusb
PyYAML
qrcode
requests
six
typing_extensions
Unidecode
urllib3
viivakoodi
Werkzeug
xmltodict
